transformation/test/fbb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:gml="http://www.opengis.net/gml" xmlns:fbb="http://www.kulturarv.dk/fbb" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.kulturarv.dk/fbb" elementFormDefault="qualified" attributeFormDefault="qualified">
	<!--
		xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
		xx The FBB schema governs the output of the national registry of
		listed and scheduled buildings xx in Denmark. xx xx Copyright 2011 the
		Heritage Agency of Denmark xx The FBB schema is licensed under a
		Creative Commons Attribution-ShareAlike 3.0 xx
		(http://creativecommons.org/licenses/by-sa/3.0/) license. xx xx Parts
		of the FBB schema are derived from the LIDO
		(http://www.lido-schema.org) schema, xx which has been made available
		under a creative commons 3.0 Attribution-ShareAlike xx
		(http://creativecommons.org/licenses/by-sa/3.0/) license. The authors
		of that schema xx are not to blame for any errors in or shortcomings
		of the FBB schema.
		xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
	-->
	<!-- <xsd:import namespace="http://www.opengis.net/gml"	schemaLocation="gml/3.1.1/base/gml.xsd" /> -->
	<xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	
	<xsd:element name="buildingWrap">
		<xsd:annotation>
			<xsd:documentation>Definition: A wrapper for FBB buildings.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fbb:rightsWorkWrap"/>
				<xsd:element name="building" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Definition: Holds the administrative metadata
							for an FBB case.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="id" type="fbb:identifierComplexType">
								<xsd:annotation>
									<xsd:documentation>Definition: The id of the building.
									</xsd:documentation>
									<xsd:documentation>How to record: A persistent URI of the form
										https://www.kulturarv.dk/fbb/building/$id.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="designation" type="xsd:string" minOccurs="0" nillable="true">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of building.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BBR">
								<xsd:annotation>
									<xsd:documentation>Definition: Information about a building
										from the national bulding registry (BBR).</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="id" type="fbb:identifierComplexType" nillable="true">
											<xsd:annotation>
												<xsd:documentation>Definition: The public information
													server's id for the building.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="municipality" type="fbb:conceptComplexType" nillable="true">
											<xsd:annotation>
												<xsd:documentation>Definition: The municipality in which the
													building's property is located.</xsd:documentation>
												<xsd:documentation>How to record: The municipality number
													and name.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="propertyNumber" type="fbb:identifierComplexType">
											<xsd:annotation>
												<xsd:documentation>Definition: A unique number identifying
													the property within the municipality.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="buildingNumber" type="fbb:identifierComplexType">
											<xsd:annotation>
												<xsd:documentation>Definition: A unique number identifying
													the building within the property.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="cadastre" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Definition: A unique number identifying
													the building within the property.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="cadastreNumber" type="fbb:identifierComplexType">
														<xsd:annotation>
															<xsd:documentation>Definition: A unique number followed
																by an optional letter identifying the building within
																the property.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="zone" type="fbb:conceptComplexType" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Definition: The type of zone,
																indicating, e.g., city or countryside.
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="nationalTownshipNumber" type="fbb:identifierComplexType">
														<xsd:annotation>
															<xsd:documentation>Definition: The national number
																identifying the township in which the cadastre is
																located.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="municipalTownshipNumber" type="fbb:identifierComplexType">
														<xsd:annotation>
															<xsd:documentation>Definition: The municipality's number
																identifying the township in which the cadastre is
																located.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="townshipName" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>Definition: The name of the township
																in which the cadastre is located.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="primaryAddress">
											<xsd:annotation>
												<xsd:documentation>Definition: The primary address of the
													building.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="streetNumber" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Definition: The street number,
																indicating a specific location within a street.
															</xsd:documentation>
															<xsd:documentation>How to record: An integer followed by
																an optional letter.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="streetName" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Definition: The name of the street.
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="location" type="fbb:gmlComplexType" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Definition: Coordinates indicating the
																location of the address.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="house_no" type="xsd:string">
														<xsd:annotation>
															<xsd:documentation>Definition: The name of the street.
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="post_code" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Definition: The name of the street.
															</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="postal_district" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Definition: The name of the postal
																district.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="coordinate" type="fbb:coordinateComplexType" nillable="true">
														<xsd:annotation>
															<xsd:documentation>Definition: </xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="constructionYear" type="xsd:date" nillable="true">
											<xsd:annotation>
												<xsd:documentation>Definition: The year the building was
													constructed.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="conversionYear" type="xsd:date" nillable="true">
											<xsd:annotation>
												<xsd:documentation>Definition: The year of the building's
													last conversion.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="builtArea" type="xsd:integer" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Definition: The area occupied by the
													building.</xsd:documentation>
												<xsd:documentation>How to record: An integer indicating the
													number of square metres.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="totalArea" type="xsd:integer" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Definition: The livable area of the
													building.</xsd:documentation>
												<xsd:documentation>How to record: An integer indicating the
													number of square metres.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="floors" type="xsd:integer" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Definition: The number of floors in the
													building.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="usage" type="fbb:conceptComplexType" nillable="true">
											<xsd:annotation>
												<xsd:documentation>Definition: The current use of the
													building.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="outerWalls" type="fbb:conceptComplexType" nillable="true">
											<xsd:annotation>
												<xsd:documentation>Definition: The type of outer walls of
													the building.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="roof" type="fbb:conceptComplexType" nillable="true">
											<xsd:annotation>
												<xsd:documentation>Definition: The type of roof of the
													building.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="materialsSource" type="fbb:conceptComplexType" nillable="true">
											<xsd:annotation>
												<xsd:documentation>Definition: The source of information
													about roof and outer walls.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="areaSource" type="fbb:conceptComplexType" nillable="true">
											<xsd:annotation>
												<xsd:documentation>Definition: The source of information
													about the building's area.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="detached" type="fbb:conceptComplexType" nillable="true">
											<xsd:annotation>
												<xsd:documentation>Definition: Indicates whether the
													building is detached.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<!-- <xsd:element name="designation" type="fbb:conceptComplexType"
											minOccurs="0" nillable="true">
											<xsd:annotation>
												<xsd:documentation>Definition: the legal designation of the
													building indicating how it is protected, according to BBR.
												</xsd:documentation>
												<xsd:documentation>Notes: BBR is not the authority on
													information about the legal protection of the building.
													Refer instead to the 'designation' element under 'case'.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element> -->
										<xsd:element name="buildingType" type="fbb:conceptComplexType" minOccurs="0" nillable="true">
											<xsd:annotation>
												<xsd:documentation>Definition: The type of building.
												</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element ref="fbb:photographWrap" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: Any digital resources about the
										building.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="fbb:caseWrap" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: Any cases pertaining to the
										building.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
								<xsd:element name="notes" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: Administrative notes for the case.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="caseLocation" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: A description of the location
										covered by the case.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<!-- save -->
							<xsd:element name="architectual_value" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="architectual_assessment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="cultural_value" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="cultural_assesment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="environmental_value" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="environmental_assesment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="originality_value" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="originality_assesment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="condition_value" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="condition_assesment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="preservation_value" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="preservation_assesment" type="xsd:string" minOccurs="0"/>

						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="caseWrap">
		<xsd:annotation>
			<xsd:documentation>Definition: A wrapper for FBB cases.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fbb:rightsWorkWrap"/>
				<xsd:element name="case" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Definition: Holds the administrative metadata
							for an FBB case.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="id" type="fbb:identifierComplexType">
								<xsd:annotation>
									<xsd:documentation>Definition: The id of the case.
									</xsd:documentation>
									<xsd:documentation>How to record: A persistent URI of the form
										https://www.kulturarv.dk/fbb/case/$id.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="caseType" type="fbb:conceptComplexType">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of case.
									</xsd:documentation>
									<xsd:documentation>How to record: Recorded as a persistent URI
										identifying a SKOS term. For case types 'Other' and 'SAVE',
										the specific subtype is indicated.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="name" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Definition: The name assigned to the case.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="extent" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Definition: The spatial coverage of the
										case.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="description" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Definition: A description of the case.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="status" type="fbb:conceptComplexType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The current status of the case
										indicating, e.g., whether a listing is in effect.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="comments" type="xsd:string" minOccurs="0"> <!-- nyt element -->
								<xsd:annotation>
									<xsd:documentation>Definition: Case comments.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="complexType" type="fbb:conceptComplexType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: For some cases, the type of
										building complex of which the case forms a part.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="settlementType" type="fbb:conceptComplexType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: For some cases, the type of
										settlement of which the case forms a part.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="numberOfBuildings" type="xsd:integer" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The number of buildings covered
										by the case.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="createdDate" type="xsd:date" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The date of creation of the
										case.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="fbb:caseWorkWrap" minOccurs="0"/>
							<xsd:element ref="fbb:documentWrap" minOccurs="0"/>
							<xsd:element ref="fbb:documentOnlineWrap" minOccurs="0"/>
							<xsd:element ref="fbb:settlementWrap" minOccurs="0"/>
							<xsd:element ref="fbb:photographWrap" minOccurs="0"/>
							<!-- <xsd:element ref="fbb:buildingWrap" minOccurs="0" />  -->
							<xsd:element name="listing" type="fbb:conceptComplexType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: For some case types, the legal
										designation of the case indicating how the buildings covered
										are protected.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="fbb:surroundingsWrap" minOccurs="0"/>
							
							<!-- fredningssag -->
							<xsd:element name="buildingHistory" type="xsd:string" minOccurs="0"/>
							<xsd:element name="sources" type="xsd:string" minOccurs="0"/>
							<xsd:element name="environmentalValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="culturalValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="architecturalValue" type="xsd:string" minOccurs="0"/>
							<xsd:element name="mainProtectionValue" type="xsd:string" minOccurs="0"/>

							<xsd:element name="notes" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: Administrative notes for the
										case.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="caseLocation" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: A description of the location
										covered by the case.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!--  save -->
							<xsd:element name="architectual_value" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="architectual_assessment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="cultural_value" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="cultural_assesment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="environmental_value" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="environmental_assesment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="originality_value" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="originality_assesment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="condition_value" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="condition_assesment" type="xsd:string" minOccurs="0"/>
							<xsd:element name="preservation_value" type="xsd:integer" minOccurs="0"/>
							<xsd:element name="preservation_assesment" type="xsd:string" minOccurs="0"/>
							<xsd:element ref="fbb:buildingWrap" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="caseWorkWrap">
		<xsd:annotation>
			<xsd:documentation>Definition: A wrapper for case work.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="caseWork" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Definition: The case work performed in
							connection with a case.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="date" type="xsd:date" nillable="true"/>
							<xsd:element name="comment" type="xsd:string"/>
							<xsd:element name="type" type="fbb:conceptComplexType" minOccurs="0"/>
							<xsd:element name="justification" type="xsd:string"/>
							<xsd:element name="caseFileId" type="fbb:identifierComplexType" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="conceptComplexType">
		<xsd:annotation>
			<xsd:documentation>Definition: Set for identifiers and terms of a
				concept.</xsd:documentation>
			<xsd:documentation>How to record: A concept describes a conceptual
				resource. Concepts are organized in concept schemes like thesauri,
				classification schemes, taxonomies, subject-heading systems, or any
				other type of structured controlled vocabulary. See also SKOS
				specifications at http://www.w3.org/2004/02/skos/
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="conceptID" type="fbb:identifierComplexType">
				<xsd:annotation>
					<xsd:documentation>Definition: A unique identifier for the concept.
					</xsd:documentation>
					<xsd:documentation>How to record: Preferably taken from and linking
						to a published controlled vocabulary.</xsd:documentation>
					<xsd:documentation>Notes: All FBB controlled vocabularies will be
						published as SKOS on URIs of the form
						http://www.kulturarv.dk/fbb/skos/$vocab#$id.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="term" type="fbb:termComplexType">
				<xsd:annotation>
					<xsd:documentation>Definition: A name for the referred concept,
						used for indexing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="documentWrap">
		<xsd:annotation>
			<xsd:documentation>Definition: A wrapper for document resources.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fbb:document" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="documentOnlineWrap">
		<xsd:annotation>
			<xsd:documentation>Definition: A wrapper for online document
				resources.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fbb:document" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="featureWrap">
		<xsd:annotation>
			<xsd:documentation>Definition: A wrapper for spatial features.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="feature" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Definition: A typed spatial feature with
							metadata. </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="description" type="xsd:string" nillable="true">
								<xsd:annotation>
									<xsd:documentation>Definition: A description of the feature.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="featureType" type="fbb:conceptComplexType" nillable="true">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of feature.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="featureWkt" type="xsd:string" nillable="true">
								<xsd:annotation>
									<xsd:documentation>Definition: A text representation of the
										feature.</xsd:documentation>
									<xsd:documentation>How to record: Well-known text (WKT). See
										http://www.geoapi.org/3.0/javadoc/org/opengis/referencing/doc-files/WKT.html.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="featureGml" type="fbb:gmlComplexType" nillable="true">
								<xsd:annotation>
									<xsd:documentation>Definition: A GML representation of the
										feature.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="angle" type="xsd:float" minOccurs="0" nillable="true">
								<xsd:annotation>
									<xsd:documentation>Definition: For features with direction
										(i.e. views), the angle of the view.</xsd:documentation>
									<xsd:documentation>How to record: A real number between 0 and
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="document">
		<xsd:annotation>
			<xsd:documentation>Definition: A published, web accessible
				document,
				held in FBB or elsewhere.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="fbb:rightsWorkWrap" minOccurs="0"/>
				<xsd:element name="id" type="fbb:identifierComplexType">
					<xsd:annotation>
						<xsd:documentation>Definition: The id of the building.
						</xsd:documentation>
						<xsd:documentation>How to record: A persistent URI of the form
							https://www.kulturarv.dk/fbb/building/$id.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="name" type="xsd:string"/>
				<xsd:element name="description" type="xsd:string"/>
				<xsd:element name="type" type="fbb:conceptComplexType" nillable="true"/>
				<xsd:element name="link" type="fbb:webResourceComplexType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Definition: A link to the document.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="isShownAt" type="fbb:webResourceComplexType" minOccurs="0" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Definition: A link to a web page making the
							document accessible.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="uploadedFileName" type="xsd:string" nillable="true">
					<xsd:annotation>
						<xsd:documentation>Definition: For files uploaded to FBB, the
							file
							name as supplied by the user.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="gmlComplexType">
		<xsd:annotation>
			<xsd:documentation>Definition: Specifies the GML instantiation for
				georeferences.</xsd:documentation>
			<xsd:documentation>Notes: For documentation on GML refer to
				http://www.opengeospatial.org/standards/gml.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="gml:Point" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="gml:LineString" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="gml:Polygon" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="gml:MultiPoint" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="gml:MultiLineString" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="gml:MultiPolygon" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="identifierComplexType">
		<xsd:annotation>
			<xsd:documentation>How to record: There is no controlled list of
				identifier types. Suggested values include, but are not limited to
				the following: doi (Digital Objects Identifier), uid (Globally
				unique identifier), hdl (Handle), localpermalinkpurl (Persistent
				Uniform Resource Locator), uri (Uniform Resource Identifier), url
				(Uniform Resource Locator), urn (Uniform Resource Name)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" type="xsd:string"/>
				<!--
					<xsd:attribute ref="fbb:pref"/> <xsd:attribute ref="fbb:type"
					use="required"/> <xsd:attribute ref="fbb:source"/>
				-->
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:attribute name="label" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>How to record: Elements with data values are
				accompanied by the attribute label, which refers to the external
				label of a data field at the visible user interface.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:complexType name="legalBodyRefComplexType">
		<xsd:annotation>
			<xsd:documentation>Definition: Reference information to a legal body.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="legalBodyID" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Definition: Unambiguous identification of the
						institution or person referred to as legal body.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="legalBodyName" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Definition: Name of the institution or person.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="legalBodyWeblink" type="fbb:webResourceComplexType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Definition: Weblink of the institution or person
						referred to as legal body.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="photographWrap">
		<xsd:annotation>
			<xsd:documentation>Definition: A wrapper for online images.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="photograph" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Definition: A published, web accessible
							photograph held in FBB.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="fbb:rightsWorkWrap"/>
							<xsd:element name="id" type="fbb:identifierComplexType">
								<xsd:annotation>
									<xsd:documentation>Definition: The id of the building.
									</xsd:documentation>
									<xsd:documentation>How to record: A persistent URI of the form
										https://www.kulturarv.dk/fbb/building/$id.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="name" type="xsd:string" nillable="true">
								<xsd:annotation>
									<xsd:documentation>Definition: The name assigned to the
										photograph.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="photographer" type="xsd:string" nillable="true">
								<xsd:annotation>
									<xsd:documentation>Definition: The name of the photographer.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="uploadedFileName" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Definition: The file name as supplied by the
										user.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="createdDate" type="xsd:date" nillable="true">
								<xsd:annotation>
									<xsd:documentation>Definition: The date of creation of the
										photograph.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="link" type="fbb:webResourceComplexType" nillable="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: A link to the online digital
										photograph.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="isShownAt" type="fbb:webResourceComplexType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: A link to a web page making the
										photograph accessible.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="description" type="xsd:string" nillable="true">
								<xsd:annotation>
									<xsd:documentation>Definition: A description of the
										photograph's motif.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="keywords" type="xsd:string" nillable="true">
								<xsd:annotation>
									<xsd:documentation>Definition: Keywords assigned to the
										photograph by the user.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="photographType" type="fbb:conceptComplexType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: An administrative classification
										of the method by which the photo was taken.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="contentType" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The file content type.
									</xsd:documentation>
									<xsd:documentation>How to record: A MIME type, e.g. image/jpeg.
										See http://www.iana.org/assignments/media-types/index.html.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
		<xsd:attribute name="pref" type="xsd:string"> <xsd:annotation>
		<xsd:documentation>Definition: Qualifies the value as a preferred or
		alternative variant. </xsd:documentation> <xsd:documentation>How to
		record: Data values: preferred, alternate</xsd:documentation>
		</xsd:annotation> </xsd:attribute>
	-->
	<xsd:complexType name="rightsComplexType">
		<xsd:annotation>
			<xsd:documentation>Definition: Information about rights management;
				may include copyright and other intellectual property statements.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="rightsType" type="fbb:conceptComplexType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Definition: The specific type of right being
						recorded. </xsd:documentation>
					<xsd:documentation>How to record: For example: copyright,
						publication right, data protection right, trademark.Preferably
						taken from a published controlled value list. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rightsDate" type="xsd:string" minOccurs="0"> 
				<xsd:annotation> <xsd:documentation>Definition: The
					date on which a right is or was current.</xsd:documentation>
				</xsd:annotation> 
			</xsd:element>
			<xsd:element name="rightsHolder" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Definition: The holder of the right.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="fbb:legalBodyRefComplexType">
							<!-- <xsd:attribute ref="fbb:sortorder"/> -->
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="creditLine" type="fbb:textComplexType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Definition: Acknowledgement of the rights
						associated with the physical and/or digital object as requested.
					</xsd:documentation>
					<xsd:documentation>How to record: Repeat this element only for
						language variants.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="rightsWorkWrap">
		<xsd:annotation>
			<xsd:documentation>Definition: Wrapper for rights information about
				the object / work described.</xsd:documentation>
			<xsd:documentation>Notes: Rights information for the record and for
				resources is recorded in the respective rights elements recordRights
				and rightsResource. </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="rightsWorkSet" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Definition: Information about rights
							management; may include copyright and other intellectual property
							statements about the object / work.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="fbb:rightsComplexType">
								<!-- <xsd:attribute ref="fbb:sortorder"/> -->
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="settlementWrap"> <!-- bebygget struktur + save -->
		<xsd:annotation>
			<xsd:documentation>Definition: A wrapper for surroundings.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="settlement" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Definition: An area evaluated to identify
							heritage values with the SAVE method (Survey of Architectural
							Values in the Environment). </xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="description" type="xsd:string" nillable="true">
								<xsd:annotation>
									<xsd:documentation>Definition: A description of the
										surroundings.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="boundingPolygonWkt" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: A text representation of any
										geographic objects indicating the surroundings.
									</xsd:documentation>
									<xsd:documentation>How to record: Well-known text (WKT). See
										http://www.geoapi.org/3.0/javadoc/org/opengis/referencing/doc-files/WKT.html.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="boundingPolygonGml" type="fbb:gmlComplexType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: A text representation of any
										geographic objects indicating the surroundings.
									</xsd:documentation>
									<xsd:documentation>How to record: Well-known text (WKT). See
										http://www.geoapi.org/3.0/javadoc/org/opengis/referencing/doc-files/WKT.html.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of surroundings.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="dominantFeatures" type="xsd:boolean" nillable="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of surroundings.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="settlementPattern" type="xsd:boolean" nillable="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of surroundings.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="parts" type="xsd:boolean" nillable="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of surroundings.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="creationDate" type="xsd:date" nillable="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of surroundings.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="topography" type="xsd:string" nillable="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of surroundings.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="history" type="xsd:string" nillable="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of surroundings.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="architecture" type="xsd:string" nillable="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of surroundings.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="assessment" type="xsd:string" nillable="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of surroundings.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="vulnerability" type="xsd:string" nillable="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of surroundings.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="recommendations" type="xsd:string" nillable="true" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of surroundings.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="fbb:featureWrap"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
		<xsd:attribute name="sortorder" type="xsd:integer"> <xsd:annotation>
		<xsd:documentation>Definition: Assigns a priority order for online
		presentation of the element. </xsd:documentation>
		<xsd:documentation>How to record: Has to be a positive integer, with
		descending priority from 1 to x. </xsd:documentation>
		</xsd:annotation> </xsd:attribute>
	-->
	<!--
		<xsd:attribute name="source" type="xsd:string"> <xsd:annotation>
		<xsd:documentation>Definition: Source of the information given in the
		holding element.</xsd:documentation> </xsd:annotation>
		</xsd:attribute>
	-->
	<xsd:element name="surroundingsWrap">
		<xsd:annotation>
			<xsd:documentation>Definition: A wrapper for surroundings.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="surrounding" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Definition: Some case types (listings and state
							and municipal preservation cases) may have one or more
							descriptions of surroundings.</xsd:documentation>
						<xsd:documentation>How to record: Surroundings are recorded as a
							type, a description, and optionally geographic objects.
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="description" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Definition: A description of the
										surroundings.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="surroundingsType" type="fbb:conceptComplexType">
								<xsd:annotation>
									<xsd:documentation>Definition: The type of surroundings.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="surroundingsWkt" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: A text representation of any
										geographic objects indicating the surroundings.
									</xsd:documentation>
									<xsd:documentation>How to record: Well-known text (WKT). See
										http://www.geoapi.org/3.0/javadoc/org/opengis/referencing/doc-files/WKT.html.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="surroundingsGml" type="fbb:gmlComplexType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Definition: A GML representation of any
										geographic objects indicating the surroundings.
									</xsd:documentation>
									<xsd:documentation>How to record: A sequence of GML points,
										line strings and polygons.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="termComplexType">
		<xsd:annotation>
			<xsd:documentation>Definition: A name for a concept / term, usually
				from a controlled vocabulary.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute ref="fbb:label"/>
				<!-- <xsd:attribute ref="fbb:sortorder"/>-->
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="textComplexType">
		<xsd:annotation>
			<xsd:documentation>Definition: Simple text element with
				encodinganalog and label attribute</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<!--
					<xsd:attribute ref="xml:lang"/> <xsd:attribute
					ref="fbb:encodinganalog"/>
				-->
				<xsd:attribute ref="fbb:label"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:attribute name="type" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>Definition: Qualifies the type of information
				given in the holding element. </xsd:documentation>
			<xsd:documentation>How to record: Will generally have to be populated
				with a given value list. </xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:complexType name="webResourceComplexType">
		<xsd:annotation>
			<xsd:documentation>Definition: A uri/url reference to a web resource
				that describes / represents the item, e.g. a metadata record.
			</xsd:documentation>
			<xsd:documentation>Notes: It differs from an identifier for the item
				itself. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<!-- <xsd:attribute ref="fbb:pref"/> -->
				<xsd:attribute name="formatResource" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Definition: Indicates the internet media type,
							e.g. the file format of the given web resource.
						</xsd:documentation>
						<xsd:documentation>How to record: Data values should be taken from
							the official IANA list (see
							http://www.iana.org/assignments/media-types/). Includes:
							text/html, text/xml, image/jpeg, audio/mpeg, video/mpeg,
							application/pdf.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<!--<xsd:attribute ref="xml:lang"/>-->
				<xsd:attribute ref="fbb:label"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="coordinateComplexType">
		<xsd:annotation>
			<xsd:documentation>Definition: A coordinate with x and y attributes
			</xsd:documentation>
			<xsd:documentation>Notes: It differs from an identifier for the item
				itself. </xsd:documentation>
		</xsd:annotation>
		<!--
			<xsd:sequence> <xsd:element name="coordinate_system"
			type="fbb:coordinate_system" /> </xsd:sequence>
		-->
		<xsd:sequence>
			<xsd:element name="x" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Definition: A unique identifier for the concept.
					</xsd:documentation>
					<xsd:documentation>How to record: Preferably taken from and linking
						to a published controlled vocabulary.</xsd:documentation>
					<xsd:documentation>Notes: All FBB controlled vocabularies will be
						published as SKOS on URIs of the form
						http://www.kulturarv.dk/fbb/skos/$vocab#$id.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="y" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Definition: A name for the referred concept,
						used for indexing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="coordinate_system">
		<xsd:annotation>
			<xsd:documentation>Definition: A coordinate with x and y attributes
			</xsd:documentation>
			<xsd:documentation>Notes: It differs from an identifier for the item
				itself. 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="epsgid" type="xsd:string"/>
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>